<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- AAMLive URLs-->
    <add key="BaseURL" value="http://cafetownsend-angular-rails.herokuapp.com" />
    <!-- Users Data-->
    <add key="UserName" value="Luke"/>
    <add key="Password" value="Skywalker"/>
  </appSettings>
</configuration>